<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                    <h5><strong>Diagnosis Form</strong></h5>
                </div>
<div class="card-body">
    <form class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="inputEmail4" class="floating-label">Patient's Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
    </div>

<div class="col-sm-4">
    <div class="form-group">
      <label for="inputPassword4" class="floating-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
      <label for="inputPassword4" class="floating-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
      <label for="inputPassword4" class="floating-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
      <label for="inputPassword4" class="floating-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</div>

    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>


<div class="col-sm-4">
    <div class="form-group">
      <label for="inputPassword4" class="floating-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
</div>
</div>
</div>