{% extends "base/header.html" %}
{% load static %}
{% block body %}
<section class="pcoded-main-container">
  <div class="pcoded-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
          <div class="page-block">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">Medical Forms</h5>
                      </div>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'app:index' %}"><i class="feather icon-home"></i></a></li>
                          <li class="breadcrumb-item"><a href="{% url 'app:diagnosis_form' %}">Diagnostics</a></li>
                          <li class="breadcrumb-item"><a href="{% url 'app:card' %}">Card/a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-header">
                      <h5><strong>Generate Hospital Card</strong></h5>
                  </div>
                  <div class="card-body">
                      <form method="POST" action="">
                          {% csrf_token %}
                        <div class="row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <select class="form-select btn btn-outline-primary" name="patient_id" id="inputGroupSelect01" style="width: 300px;">
                             

                                <option selected>Patients</option>
                                {% for patient in patients %}
                                  <option id="patient_id" value="{{ patient.id }}">{{ patient.first_name }} {{ patient.last_name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="floating-label" for="Branch">Hospital Branch</label>
                              <input type="text" name="hospital_branch" class="form-control" id="hospital_branch" placeholder="Hospital Branch">
                            
                          </div>
                        </div>
                          </div>
                          </div>
                          <div class="col-8">
                            <button type="submit" class="btn btn-primary" name="card_submit">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    
                          </div>
                      </form>
                  </div>
              </div>
          </div>
    
      </div>
    </div>
      </section>
      {% endblock body %}
<script src="{% static 'dist/assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'dist/assets/js/plugins/bootstrap.min.js ' %}"></script>
<script src="{% static 'dist/assets/js/ripple.js' %}"></script>
<script src="{% static 'dist/assets/js/pcoded.min.js' %}"></script>